.product-card {
  // padding: 20px;
  overflow: hidden;
}

.product-image {
  object-fit: cover;

  overflow: hidden;
}

.product-thumbnail-image {
  width: 100px;
  height: 100px;

  object-fit: cover;
  overflow: hidden;
}

.product-grid-list {
  width: 100vw;
}
