<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button *ngIf="isLoggedIn" mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button routerLink="/">
      <h1>{{ title }}</h1>
    </button>

    <span class="admin-nav-spacer"></span>

    <button
      *ngIf="!isLoggedIn"
      routerLink="admin/login"
      routerLinkActive="mat-raised-button"
      mat-button
      color="secondary"
      aria-label="Icon"
      aria-hidden="false"
    >
      Login
    </button>
    <button
      *ngIf="isLoggedIn"
      (click)="logout()"
      mat-button
      color="secondary"
      aria-label="Icon"
      aria-hidden="false"
    >
      Logout
    </button>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      class="admin-sidenav-drawer"
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <a
          mat-list-item
          routerLink="admin/{{ nav.route }}"
          *ngFor="let nav of fillerNav"
          >{{ nav.name }}</a
        >
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="container">
        <ng-content></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
