<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button routerLink="/">My App</button>

    <span class="example-spacer"></span>

    <button
      *ngIf="!isLoggedIn"
      routerLink="auth/login"
      routerLinkActive="mat-raised-button"
      mat-button
      color="secondary"
      aria-label="Icon"
      aria-hidden="false"
    >
      Login
    </button>

    <button
      *ngIf="!isLoggedIn"
      routerLink="auth/register"
      color="secondary"
      mat-button
      routerLinkActive="mat-raised-button"
      aria-label="Icon"
      aria-hidden="false"
    >
      Register
    </button>

    <button
      routerLink="cart"
      mat-icon-button
      aria-label="Icon"
      aria-hidden="false"
    >
      <mat-icon
        color="secondary"
        matBadge="{{ (carts$ | async)?.length }}"
        matBadgeColor="accent"
        matBadgeSize="small"
      >
        shopping_cart
      </mat-icon>
    </button>

    <button
      *ngIf="isLoggedIn"
      (click)="logout()"
      mat-button
      color="secondary"
      aria-label="Icon"
      aria-hidden="false"
    >
      Logout
    </button>
  </mat-toolbar-row>
</mat-toolbar>
