<div [formGroup]="form" class="form-group">
  <div [ngSwitch]="input.controlType">
    <!-- Textbox Input -->
    <mat-form-field
      class="form-container"
      appearance="fill"
      *ngSwitchCase="'textbox'"
    >
      <mat-label [attr.for]="input.key">{{ input.label }}</mat-label>
      <input
        [value]="input.value"
        matInput
        class="form-control"
        [formControlName]="input.key"
        [id]="input.key"
        [type]="input.type"
      />

      <mat-error
        *ngIf="input.required && form.get(input.key)?.hasError('required')"
        >{{ input.label }} is required.</mat-error
      >
      <mat-error
        *ngIf="
          input.validator && form.get(input.key)?.hasError(input.validator)
        "
        >Validation for {{ input.validator }} failed.</mat-error
      >
    </mat-form-field>

    <!-- Password Input -->
    <mat-form-field
      class="form-container"
      appearance="fill"
      *ngSwitchCase="'password'"
    >
      <mat-label [attr.for]="input.key">{{ input.label }}</mat-label>
      <input
        [value]="input.value"
        matInput
        class="form-control"
        [formControlName]="input.key"
        [id]="input.key"
        [type]="booleanValue ? 'password' : 'text'"
      />

      <mat-icon
        class="password-icon"
        matRipple
        matSuffix
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="booleanValue"
        (click)="booleanValue = !booleanValue"
        >{{ booleanValue ? "visibility_off" : "visibility" }}</mat-icon
      >

      <mat-error
        *ngIf="input.required && form.get(input.key)?.hasError('required')"
        >{{ input.label }} is required.</mat-error
      >
      <mat-error
        *ngIf="
          input.validator && form.get(input.key)?.hasError(input.validator)
        "
        >Validation for {{ input.validator }} failed.</mat-error
      >
    </mat-form-field>

    <!-- Select Input -->
    <mat-form-field
      class="form-container"
      appearance="fill"
      *ngSwitchCase="'dropdown'"
    >
      <mat-label [attr.for]="input.key">{{ input.label }}</mat-label>
      <mat-select
        class="custom-select"
        [id]="input.key"
        [formControlName]="input.key"
        [value]="input.value"
      >
        <mat-option *ngFor="let opt of input.options" [value]="opt.key">
          {{ opt.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Checkbox input -->
    <div class="form-container" *ngSwitchCase="'checkbox'">
      <div class="form-check">
        <mat-checkbox
          class="form-check-input"
          [formControlName]="input.key"
          [id]="input.key"
          [checked]="true"
        >
          {{ input.label }}
        </mat-checkbox>
      </div>
    </div>

    <!-- Radio Input -->
    <div class="form-container" *ngSwitchCase="'radio'">
      <mat-radio-group
        aria-label="Select an option"
        class="form-check form-check-inline"
        [formControlName]="input.key"
        [value]="input.value"
      >
        <mat-radio-button
          class="form-check-input"
          [name]="input.key"
          [value]="opt.value"
          *ngFor="let opt of input.options"
        >
          {{ opt.value }}</mat-radio-button
        >
      </mat-radio-group>
    </div>

    <!-- Textarea Input -->
    <mat-form-field
      class="form-container"
      appearance="fill"
      *ngSwitchCase="'textarea'"
    >
      <mat-label [attr.for]="input.key">{{ input.label }}</mat-label>
      <textarea
        matInput
        class="form-control"
        [formControlName]="input.key"
        [id]="input.key"
        rows="5"
        [value]="input.value"
      ></textarea>
    </mat-form-field>
  </div>
</div>
