.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;

  align-items: center;
  justify-items: center;
}

.grid-item {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 0.5em;

  justify-self: stretch;
}
