<mat-grid-list
  [cols]="breakpoint"
  gutterSize="20px"
  (window:resize)="onResize($event)"
  rowHeight="500px"
  class="product-grid-list"
>
  <mat-grid-tile *ngFor="let product of products">
    <mat-card class="product-card">
      <img
        mat-card-image
        class="product-image"
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt=""
      />
      <mat-card-header class="product-header">
        <div
          mat-card-avatar
          style="
            background-size: cover;
            background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
          "
        ></div>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Description: THis is an item</p>
        <p>Brand:</p>
        <p>Price: Rs. {{ product.price }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button>
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon> {{ true ? "favorite_border" : "favorite" }} </mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon> share </mat-icon>
        </button>
      </mat-card-actions>
    </mat-card></mat-grid-tile
  >
</mat-grid-list>
