<h3>Cart</h3>

<div class="cart-item" *ngFor="let item of items">
  <span>Name: {{ item.name }}</span>
  <span> Price: {{ item.price | currency: "Rs ":"symbol":"3.0" }}</span>

  <button mat-icon-button (click)="delete(item.id)">
    <mat-icon color="warn">delete</mat-icon>
  </button>
</div>

<div>Total: {{ getTotalCost() | currency: "Rs ":"symbol":"2.0" }}</div>

<button mat-raised-button color="warn" (click)="emptyCart()">Clear</button>
<button mat-raised-button color="primary">
  <a [title]="'Checkout'" [routerLink]="['/checkout']">Checkout</a>
</button>
