<div [formGroup]="form" class="form-group">
  <div [ngSwitch]="input.controlType">
    <mat-form-field appearance="fill" *ngSwitchCase="'textbox'">
      <mat-label [attr.for]="input.key">{{ input.label }}</mat-label>
      <input
        matInput
        class="form-control"
        [formControlName]="input.key"
        [id]="input.key"
        [type]="input.type"
      />

      <mat-error
        *ngIf="input.required && form.get(input.key)?.hasError('required')"
        >{{ input.label }} is required.</mat-error
      >
      <mat-error
        *ngIf="
          input.validator && form.get(input.key)?.hasError(input.validator)
        "
        >Validation for {{ input.validator }} failed.</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill" *ngSwitchCase="'dropdown'">
      <mat-label [attr.for]="input.key">{{ input.label }}</mat-label>
      <mat-select
        class="custom-select"
        [id]="input.key"
        [formControlName]="input.key"
      >
        <mat-option *ngFor="let opt of input.options" [value]="opt.key">
          {{ opt.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div a *ngSwitchCase="'checkbox'">
      <div class="form-check">
        <mat-checkbox
          class="form-check-input"
          [formControlName]="input.key"
          [id]="input.key"
        >
          {{ input.label }}
        </mat-checkbox>
      </div>
    </div>

    <div *ngSwitchCase="'radio'">
      <mat-radio-group
        aria-label="Select an option"
        class="form-check form-check-inline"
        [formControlName]="input.key"
      >
        <mat-radio-button
          class="form-check-input"
          [name]="input.key"
          [value]="opt.value"
          *ngFor="let opt of input.options"
        >
          {{ opt.value }}</mat-radio-button
        >
      </mat-radio-group>
    </div>

    <mat-form-field appearance="fill" *ngSwitchCase="'textarea'">
      <mat-label [attr.for]="input.key">{{ input.label }}</mat-label>
      <textarea
        matInput
        class="form-control"
        [formControlName]="input.key"
        [id]="input.key"
        rows="5"
      ></textarea>
    </mat-form-field>
  </div>
</div>
