<mat-card class="product-card">
  <div *ngIf="product">
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]"
    >
      <img
        mat-card-image
        class="product-image"
        src="{{
          product.images.length > 0
            ? product.images[0].url + '?tr=h-300,w-500,fo-auto'
            : 'https://ik.imagekit.io/829hd1y1oc3/default-image.jpg?updatedAt=1627616694601'
        }}"
        alt=""
      />
    </a>

    <mat-card-content class="product-content">
      <div class="product-header">
        <a
          [title]="product.name + ' details'"
          [routerLink]="['/products', product.id]"
          >{{ product.name }}
        </a>
        <p>Price: Rs. {{ product.price }}</p>
      </div>
      <div class="product-card-actions">
        <button mat-icon-button (click)="addToCart(product!)">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
        <button mat-icon-button (click)="addToWishlist(product)">
          <mat-icon color="accent">
            {{ inWishlist ? "favorite" : "favorite_border" }}
          </mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon> share </mat-icon>
        </button>
      </div>
    </mat-card-content>
  </div>

  <div *ngIf="!product">
    <img
      mat-card-image
      class="product-image"
      src="{{
        'https://ik.imagekit.io/829hd1y1oc3/default-image.jpg?updatedAt=1627616694601'
      }}"
      alt=""
    />

    <mat-card-content class="product-content">
      <div class="product-header">
        Name
        <p>Price: Rs. 00</p>
      </div>
      <div class="product-card-actions">
        <button mat-icon-button>
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon color="accent">
            {{ inWishlist ? "favorite" : "favorite_border" }}
          </mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon> share </mat-icon>
        </button>
      </div>
    </mat-card-content>
  </div>
</mat-card>
