.grid-container {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.grid-inner-container {
  padding: 20px;
  grid-row-start: 1;
  grid-row-end: 2;
}
.grid-footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

.footer-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  grid-gap: 10px;
  text-align: center;
}

.footer-content {
  margin: 0 auto;
  text-align: center;
}
