html,
body {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  position: relative;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  background: #e2e2e2;
}

.container {
  // min-height: 85vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
